.jumbotron {background-color: saddlebrown}

h1 {color: white; text-align: center;font-weight: bolder}

p {color: white; text-align: center;font-weight: bolder}

.card-header {color:white ;background-color: steelblue; font-weight: bold}

.table {font-weight: bold}

#submitBtn {background-color: steelblue}

.card-body {font-weight: bold}